@font-face {
    font-family: mirzafont;
    font-weight: 200;
    src: url(../font/Mirza-Font/ttf/Mirza-Medium.ttf);
}

@font-face {
    font-family: mirzafont;
    font-weight: 400;
    src: url(../font/Mirza-Font/ttf/Mirza-Bold.ttf);
}

@font-face {
    font-family: mirzafont;
    font-weight: 300;
    src: url(../font/Mirza-Font/ttf/Mirza-Regular.ttf);
}

* {
    box-sizing: border-box;
    color: #333;
    font-family: mirzafont;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    direction: rtl;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.clearfix {
    clear: both;
}

.p-15 {
    padding: 15px;
}

/* -----header----- */

.container {
    width: 100%;
    padding: 0 100px;
}

.header {
    width: 100%;
    height: 72px;
    background-color: #fff;
    box-shadow: 0px 1px 2px #bbb;
}

.hamburger-menu {
    background: transparent;
    border: none;
    display: none;
    margin: 25px;
    outline: none;
    cursor: pointer;
}

.head-logo {
    float: right;
}

.head-logo img {
    padding-top: 10px;
    width: 80px;
    height: auto;
}

.head-nav {
    float: right;

}

.head-nav>li {
    display: inline-block;
    padding: 30px 20px 20px;
    float: right;
    position: relative;

}

.dropdown-menu {
    position: absolute;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 2px 3px #777;
    width: 150px;
    height: auto;
    top: 100%;
    right: 0;
    display: none;
}

.dropdown {
    display: none;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu li {
    font-size: 16px;
    padding: 10px;

}

.dropdown-menu li a {
    display: block;
}

.dropdown-menu li:hover {
    background-color: #eee;

}

.head-nav span {
    cursor: pointer;
}

.login-btn {
    background-color: rgb(52, 85, 255);
    color: #fff;
    border: none;
    padding: 10px 12px;
    margin: 30px 0;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    float: left;
}

.header-icon-categor {
    width: 12px;
    height: 12px;
    background: url(../image/icons/down.png) center no-repeat;
    background-size: cover;
    display: inline-block;
    cursor: pointer;
    vertical-align: -6px;
}

.ic {
    width: 14px;
    height: 14px;
}

.header-icon-a {

    background: url(../image/icons/homepage.png) center no-repeat;
    background-size: cover;
    display: inline-block;
    cursor: pointer;
}


/* 
?these are icons before every menu - I want to use icons but showed complex.
.header-icon-b{
    
    background: url(../image/icons/responsible.png) center no-repeat;
    background-size: cover;
    display: inline-block;
    cursor: pointer;
}
.header-icon-c{
    
    background: url(../image/icons/categories.png) center no-repeat;
    background-size: cover;
    display: inline-block;
    cursor: pointer;
}
.header-icon-d{
    
    background: url(../image/icons/chat.png) center no-repeat;
    background-size: cover;
    display: inline-block;
    cursor: pointer;
} */



/* page intro */

.page-intro {
    background: rgb(247, 174, 248);
    background: linear-gradient(90deg, rgba(247, 174, 248, 1) 0%, rgba(96, 121, 247, 1) 50%, rgb(0, 42, 255) 100%);
    width: 100%;
    height: auto;
    padding: 50px 0;
}

.page-intro-right {
    width: 50%;
    height: auto;
    float: right;
    text-align: right;
}

.page-intro-right h1 {
    color: #fff;
    font-size: 70px;
    margin-bottom: 20px;
    font-weight: 400;
}

.page-intro-right-btns {
    /* padding-right: 100px; */
    margin: 0 auto;
    width: 300px;

}

.page-intro-right-btn {
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    width: 140px;
    font-size: 20px;
    padding: 10px 13px 15px 13px;
    border-radius: 5px;
    float: right;
    margin-left: 8px;
    font-family: mirzafont;
    font-weight: 300;
}

.page-intro-left {
    width: 50%;
    height: 200px;
    float: left;
}

.page-intro-left img {
    width: 100%;
    height: auto;

}

/* post  */

.newpost {
    width: 25%;
    height: auto;
    float: right;
    padding: 20px;
}

.newpost h2 {
    font-size: 20px;
    font-weight: 400;
    margin: 20px 0;
}

.newpost-card {
    box-shadow: 1px 0px 2px #bbb;
    width: 100%;
    height: 350px;
}

.newpost-pic {
    width: 100%;
    height: 260px;
}

.newpost-pic img {
    width: 100%;
    height: 100%;
}

.newpost-body {
    padding: 16px;
}

.newpost-title {
    margin: 0;
    float: right;
    font-weight: 400;
    font-size: 16px;
}

.newpost-price {
    margin: 0;
    float: left;
    color: #777;
    font-size: 13px;
    text-decoration: line-through;
    font-weight: 200;
}

.newpost-description {
    margin: 0;
    float: right;
    font-size: 16px;
    font-weight: 200;

}

.newpost-priceoff {
    margin: 0;
    float: left;
    font-size: 16px;
    font-weight: 200;

}

/* home ad --tablighat  */
.home-ad {
    padding-top: 40px;
}

.home-ad-right {
    width: 75%;
    height: 300px;
    float: right;
    padding: 15px;
}

.home-ad-right img {
    width: 100%;
    height: 100%;
    border-radius: 3px;
    box-shadow: 1px 2px 3px #bbb;
}

.home-ad-left {
    width: 25%;
    height: 300px;
    float: left;
    padding: 15px;

}

.home-ad-left img {
    width: 100%;
    height: 100%;
    border-radius: 3px;
    box-shadow: 1px 2px 3px #bbb;

}

/* most sales ---  */
.most-sales {
    background-color: #d9f1ff;
}

.most-sales-item {
    float: right;
    width: calc(100% / 3);
    height: 350px;
    padding: 18px;

}

.most-sales-card {
    width: 100%;
    height: 330px;
}

/* Services ----  */
.Services {
    background-color: #8093f1;
    width: 25%;

}

.service-card {
    width: 100%;
    height: 380px;
}

.service-title {
    margin: 0;
    text-align: center;
    padding: 8px;
    font-weight: 400;
    font-size: 16px;
}

.service-description {
    margin: 0;
    text-align: center;
    padding: 5px;
    font-size: 16px;
    font-weight: 200;

}

/* footer ----  */
.main-footer {
    width: 100%;
    height: auto;
    background-color: #333;
    padding: 20px 0;
    line-height: 27px;

}

.main-footer-f-l {
    width: 30%;
    height: auto;
    float: right;
    padding: 15px;
}

.main-footer-card h4 {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 15px;
}

.main-footer-card ul li {
    margin-bottom: 3px;

}

.main-footer-card ul li a {
    font-size: 16px;
    font-weight: 300;
    color: #fff;

}

.main-footer-card span {
    font-size: 16px;
    font-weight: 300;
    color: #fff;
}

.main-footer-card p {
    font-size: 14px;
    font-weight: 300;
    color: #fff;
}

.main-footer-mid {
    width: 20%;
    height: auto;
    float: right;
    padding: 15px 10px;
}

.main-footer-card-namad img {
    width: 100px;
    height: 120px;
}

.footer-line {
    border-color: #7f7f7f;

}

.under-foot {
    text-align: right;

}

.under-foot p {
    color: #fff;
    font-weight: 300;
    padding-top: 18px;
    display: inline-block;
}

.footer-social {
    float: left;
    padding-top: 18px;
}

.footer-social img {
    width: 30px;
    height: auto;
    padding: 0 2px;
}


/* Single HTML   ---------  */

.breadcrumbs {
    padding: 15px 0;
    background-color: #eee;
}

.breadcrumbs a {
    color: #777;
}

.breadcrumbs span {
    color: #777;

}

.breadcrumbs a::after {
    content: '';
    display: inline-block;
    background: url(/assets/image/icons/left-arrow.png) no-repeat center;
    background-size: cover;
    width: 10px;
    height: 10px;
    vertical-align: -1px;
}

.breadcrumbs a:hover {
    color: #333;
}

.breadcrumbs span:hover {
    color: #333;
}

/* single product  */
.single-product {
    padding-top: 30px;
    padding-bottom: 50px;
}

.col2-right {
    float: right;
    width: 30%;
    height: auto;
}

.col2-left {
    float: left;
    width: 60%;
    height: auto;

}

.single-product-pic {
    width: 300px;
    height: auto;

}

.single-product-pic img {
    width: 100%;
    height: auto;
    box-shadow: 1px 2px 3px #777;

}

.single-product-body h1 {
    font-weight: 400;
    font-size: 22px;
    padding: 10px 0;
    margin-bottom: 5px;
}

.single-product-price span {
    color: #777;
    font-size: 18px;
    display: inline-block;
}

.single_product_sizes p {
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: 400;
}

.single_product_size {
    border: 1px #ccc solid;
    width: 30px;
    height: 30px;
    display: inline-block;
    text-align: center;
    padding-top: 2px;
    margin-left: 5px;
    margin-bottom: 20px;
}

.single-product-property p {
    font-weight: 400;
    margin-bottom: 10px;
}

.single-product-property span {
    font-weight: 300;
    margin-bottom: 10px;
    display: inline-block;
}

.single-product-discription {
    margin-bottom: 20px;
}

.single-product-discription p {
    font-weight: 300;
    margin-top: 10px;
    color: #777;

}

.single-product-btn button {
    border: none;
    background-color: #00bf6f;
    width: 200px;
    padding: 10px 10px 14px 10px;
    text-align: center;
    font-size: 18px;
    font-weight: 200;
    color: #fff;
    border-radius: 3px;
    margin-top: 15px;
    margin-bottom: 50px;
    cursor: pointer;
}

/* single comments ----  */
.single-comments {
    padding: 30px 0;
}

.single-comments h5 {
    font-size: 20px;
    margin-bottom: 20px;
    color: #777;
}

.single-comment {
    background-color: #f9fafb;
    height: auto;
    padding: 0 25px;
    padding-bottom: 20px;
}

.single-comment-item {
    padding: 32px 75px 20px 0;
    position: relative;
    height: auto;
    border-bottom: 1px #bbb solid;
    justify-content: center;
}

.single-comment-item p {
    padding-top: 10px;
    line-height: 30px;
    justify-content: center;
    text-align: justify;
}

.single-comment-item img {
    width: 50px;
    height: auto;
    position: absolute;
    right: 20px;
    top: 20px;
}

.single-comment-item:last-child {
    border-bottom: none;
}

.single-comment-name-date {
    margin-bottom: 10px;
}

.single-comment-name-date span:first-child {
    margin-left: 30px;
    color: #333;
}

.single-comment-name-date span {
    color: #bbb;
}

.single-comment-text {
    font-size: 16px;
    margin-bottom: 10px;
    color: #777;
}

.single-comment-state {
    font-size: 20px;
    font-weight: 200;
}

.color-red {
    color: rgb(208, 67, 67);
}

.color-green {
    color: #00bf6f;
}

/* ------ contact ------  */
.contactus {
    padding-top: 30px;
}

.contactus h1 {
    margin-bottom: 20px;
    font-size: 26px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.contact-inputs {
    width: 50%;
    margin-bottom: 10px;
}

.contact-inputs label {
    display: block;
    margin-bottom: 10px;
    color: #777;
}

.contact-inputs input {
    width: 100%;
    padding: 10px;
    border: 1px #ccc solid;
    border-radius: 5px;
    outline: none;
}

.contact-message {
    width: 100%;
    margin-bottom: 10px;
}

.contact-message label {
    display: block;
    margin-bottom: 10px;
    color: #777;
}

.contact-message textarea {
    width: 100%;
    padding: 10px;
    border: 1px #ccc solid;
    border-radius: 5px;
    outline: none;
    min-height: 150px;
}

.contact-btn input {
    border: none;
    cursor: pointer;
    color: #fff;
    background-color: blue;
    padding: 10px 30px 12px 30px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 300;
}

.contactus hr {
    border: 1px solid #ccc;
    margin: 20px 15px 15px 20px;
}

/* -- contact information --- -- */
.contact-info {
    padding-bottom: 30px;
}

.contact-info h2 {
    margin-bottom: 10px;

}

.contact-info-right {
    width: 50%;
    height: auto;
}

.contact-info-right address {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 10px;

}

.contact-info-right a {
    margin-bottom: 10px;
    display: inline-block;
    font-weight: 300;
    font-size: 20px;
}

.contact-info-right p {
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;

}

.contact-info-left {
    width: 50%;
    height: auto;
    padding: 0 100px;
}

.contact-info-left img {
    width: 80%;
    height: auto;
}

/* ------ main panel ----- */
.main-panel {
    padding-top: 60px;
}

.main-panel header {
    width: 100%;
    height: 60px;
    box-shadow: 1px 2px 3px #ccc;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 99991;
}

.user-name {
    padding-top: 15px;
}

.user-name img {
    width: 30px;
}

.user-name span {
    vertical-align: 11px;
    margin-left: 5px;
}

.panel-head {
    display: flex;
    justify-content: space-between;
}

.panel-head p {
    padding-top: 16px;
}

/* sidebar ---  */
.panel-sidebar {
    position: fixed;
    background-color: #222;
    height: 100%;
    width: 240px;
    top: 0;
    right: 0;
    z-index: 9999;
    padding-top: 100px;
    overflow: auto;

}

.panel-sidebar-pic {
    background-color: #fff;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.panel-sidebar-pic img {
    width: 70%;
    height: 60%;

}

.panel-sidebar-menu {
    padding-right: 50px;
    padding-top: 50px;
}

.panel-sidebar-menu ul li {
    margin-bottom: 15px;
}

.panel-sidebar-menu ul li a {
    color: #fff;

}

.panel-sidebar-menu ul li i {
    width: 20px;
    height: 20px;
    display: inline-block;
    background-size: cover !important;
    vertical-align: -6px;
    margin-left: 5px;

}

/* sidebar body */
.panel-body {
    padding-right: 260px;
    margin-right: 5px;
}

.panel-body-content h1 {
    border-bottom: 1px #ccc solid;
    padding: 20px 15px;
    font-size: 24px;
    margin-bottom: 20px;
}

.setting-input {
    margin-bottom: 20px;
    margin-right: 8px;
}

.setting-input label {
    margin-right: 5px;
    display: block;
    margin-bottom: 10px;
}

.setting-input input[type=text] {
    width: 220px;
    padding: 5px;
    border: 1px #ccc solid;
    outline: none;
    border-radius: 3px;
    margin-right: 5px;
}

.panel-submit {
    background-color: blue;
    border: none;
    padding: 10px 20px;
    color: #fff;
    cursor: pointer;
    margin-right: 5px;
}

/* panel-sidebar-little */
.panel-sidebar-little {
    width: 70px;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #222;
    z-index: 9999;
    display: none;
    padding-top: 20px;
}

.panel-sidebar-little li {
    padding-bottom: 5px;
    margin-bottom: 2px;
    text-align: center;
}

.panel-sidebar-little i {
    width: 20px;
    height: 20px;
    display: inline-block;
    background-size: cover !important;

}

.panel-sidebar-little img {
    width: 40px;
    height: auto;
    margin-top: 50px;
    margin-right: 15px;
    text-align: center;
    margin-bottom: 40px;
    background-color: #fff;
    border-radius: 50%;
}

/* ---- category section ---  */
.category-sec {
    padding: 30px 0;
}

.cat-flex {
    display: flex;
}

/* category content  */
.cat-content {
    width: 75%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    padding-top: 15px;
}

.cat-col-post {
    width: calc(100% /3);
    padding: 0 15px;
    margin-bottom: 15px;
}

/* category sidebar  */
.cat-sidebar {
    width: 25%;
    height: auto;
    padding: 15px;
}

.cat-sidebar-filter {
    background-color: #fff;
    width: 100%;
    height: auto;
    box-shadow: 1px 2px 3px #bbb;
    display: flex;
    flex-wrap: wrap;
}

.cat-sidebar-boxes {
    margin: 15px;
    border-bottom: 1px solid #ccc;
    width: 100%;
}

.cat-sidebar-boxes:last-child {
    border: none;
}

.cat-sidebar-boxes h3 {
    margin-bottom: 15px;
    color: #666;
}

.cat-sidebar-boxes li {
    padding-bottom: 10px;
}

.cat-sidebar-boxes ul li label {
    vertical-align: 3px;
    margin-right: 5px;
    color: #777;
}

.cat-sidebar-boxes ul li:last-child {
    margin-bottom: 20px;
}

/* pagination   */
.pagination {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.pagination-item {
    width: 30px;
    height: 30px;
    box-shadow: 1px 2px 3px #bbb;
    margin: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.pagination-item-selected {
    background-color: blue;
    color: #fff;
}

.pagination-item-selected {
    background-color: blue;
}

.pagination-item-selected span {
    color: #fff;
}

/* aboutus section  */
.about-us-main{
    margin-top: 30px;
}
.about-us-main h3{
    font-size: 24px;

}
.aboutus-both {
    display: flex;
    flex-wrap: nowrap;
}

.about-right {
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items:normal;
}
.about-right p{
    padding:35px 20px;
    line-height: 30px;
    font-size: 20px;
    font-weight: 200;
}
    
.about-left  {
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-left  img{
    width: 60%;
    height:auto;

}









/* responsive  */
@media screen and (max-width:1150px) {
    .newpost {
        width: 50%;
    }

    .head-nav li {
        padding: 38px 15px;
    }

    .container {
        padding: 0 200px;
    }

    .home-ad-left {
        display: none;
    }

    .home-ad-right {
        width: 100%;
    }

    .most-sales-item {
        width: 50%;
    }

    .main-footer-f-l {
        width: 50%;
    }

    .main-footer-mid {
        width: 50%;
    }

    .page-intro-left {
        display: none;
    }

    .page-intro-right {
        width: 100%;
    }

    .page-intro-right br {
        display: none;
    }

    .page-intro-right h1 {
        text-align: center;
        margin-bottom: 35px;
        font-size: 50px;
    }

    .col2-right {
        width: 100%;
    }

    .col2-left {
        width: 90%;

    }

    .single-product-pic {
        width: 100%;
        text-align: center;
    }

    .single-product-pic img {
        width: 300px;
    }

    .contact-info-left {
        padding: 0;
    }

    .cat-flex {
        flex-direction: column;
    }

    .cat-sidebar {
        width: 100%;
    }

    .cat-content {
        width: 100%;
    }

    .cat-col-post {
        width: 50%;
    }

    .cat-sidebar-boxes {
        width: 50%;
        margin: 0;
        padding: 15px;
        border-bottom: none;
    }

    .cat-sidebar {
        height: auto;
    }
}

@media screen and (max-width:970px) {
    .container {
        padding: 0 45px;
    }

    .head-nav li {
        padding: 38px 15px;
    }

}

@media screen and (max-width:660px) {
    .newpost {
        width: 100%;
    }

    .container {
        padding: 0 30px;
    }

    .most-sales-item {
        width: 100%;
    }

    .header nav {
        display: none;
    }

    .head-logo {
        display: none;
    }

    .hamburger-menu {
        display: inline-block;

    }

    .hamburger-menu img {
        width: 37px;
        height: auto;
    }

    .main-footer-f-l {
        width: 100%;
    }

    .main-footer-mid {
        width: 100%;
    }

    .row {
        flex-direction: column;
    }

    .felx-column {
        flex-direction: column-reverse;
    }

    .contact-inputs {
        width: 100%;
    }

    .contact-info-right {
        width: 100%;
    }

    .contact-info-left {
        width: 100%;
    }

    .panel-sidebar {
        display: none;
    }

    .panel-sidebar-little {
        display: block;
    }

    .panel-sidebar-little i {
        width: 20px;
    }

    .panel-sidebar-little img {
        width: 40px;
        height: auto;
        margin-top: 90px;
        margin-right: 18px;
        text-align: center;

    }

    .panel-body {
        padding-right: 60px;
    }

}

@media screen and (max-width:490px) {
    .cat-col-post {
        width: 100%;
    }
}

@media screen and (max-width:400px) {
    .container {
        padding: 0 20px;
    }

    .single-product-pic img {
        width: 250px;
    }

    .col2-left {
        width: 100%;
    }

    .single-product-btn button {
        width: 100%;
    }

    .panel-sidebar-little {
        width: 40px;

    }

    .panel-body {
        padding-right: 30px;
    }

    .panel-sidebar-little img {
        width: 30px;
        height: auto;
        margin-top: 70px;
        margin-right: 6px;
        text-align: center;

    }

}